.social-signin {
	text-align: right;
}

#facebook_connect a {
	background: url('http://localhost:8000/assets/images/facebook_signin.png');
	background-repeat: no-repeat;
	width: 152px;
	height: 24px;
	display: inline-block;
}


#twitter_signin a {
	display: inline-block;
	background: url('http://localhost:8000/assets/images/twitter_signin.png');
	background-repeat: no-repeat;
	width: 151px;
	height: 24px;
}


.gradient-title {
	background: #4f5153;
	font-family: 'Trebuchet MS',Helvetica,'sans-serif';
	font-size: 16px;
	color: #fff;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.7);

	position: absolute;
	display: inline;
	top: -20px;
	left: 10px;
	height: 25px;
	line-height: 25px;
	
	border: 1px solid;
	border-bottom-color: #333;
	border-right-color: #313131;
	border-left-color: #7d7d7d;
	border-top-color: #fff;
	padding: 1px 18px 6px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 0px 2px rgba(0,0,0,70);
	-moz-box-shadow: 1px 0px 2px rgba(0,0,0,70);
	box-shadow: 1px 0px 2px rgba(0,0,0,70);
	background-color: mix(#bfc1c3,#4f5153,60%);
	background-image: -moz-linear-gradient(top,#bfc1c3,#4f5153 90%);
	background-image: -ms-linear-gradient(top,#bfc1c3,#4f5153 90%);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#bfc1c3),to(#4f5153 90%));
	background-image: -webkit-linear-gradient(top,#bfc1c3,#4f5153 90%);
	background-image: -o-linear-gradient(top,#bfc1c3,#4f5153 90%);
	background-image: linear-gradient(top,#bfc1c3,#4f5153 90%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFC1C3',endColorstr='#4F5153');
}


.content{
	padding: 0px;
	background-color: transparent;
	border: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

.a-slot{
	margin-top: 20px;
}

h3.gradient-light, h3.gradient-yellow {
	top: -9px;
	padding: 5px;
	position: relative;
	border-radius: 5px;
	display: inline;
	font-size: 12px;
	font-weight: normal;
	width: auto;
	font-family: 'Trebuchet MS',Helvetica,'sans-serif';

	background: #f8e378;
	color: #828282;
	border: 1px solid #fff !important;
	background-color: mix(#fbfbd7,#f8e378,60%);
	background-image: -moz-linear-gradient(top,#fbfbd7 40%,#f8e378 90%);
	background-image: -ms-linear-gradient(top,#fbfbd7 40%,#f8e378 90%);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbfbd7 40%),to(#f8e378 90%));
	background-image: -webkit-linear-gradient(top,#fbfbd7 40%,#f8e378 90%);
	background-image: -o-linear-gradient(top,#fbfbd7 40%,#f8e378 90%);
	background-image: linear-gradient(top,#fbfbd7 40%,#f8e378 90%);
	background-repeat: repeat-x;

}

#a-signin {
	margin: 0 auto;
	width: 43%;
}


fieldset {
	display: block;
	position: relative;
	width: 40%;
	background-color: #ffffff;
	margin: 10px 0 20px;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	padding: 0px 10px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	border: 1px solid #777;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px groove threedface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	/*min-width: -webkit-min-content;*/
}

fieldset legend {
	width: auto;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	height: 30px;
}


.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	margin-right: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
}

.control-group{
	float: left;
	width: 350px;
}

.control-group .controls {
	margin: 0px 10px;
	float: right;
}

.form-horizontal .control-label {
	width: auto;
}

.form-horizontal .control-group {
	margin-bottom: 20px;
	width: 370px;
}

.submituser{
	width: 100%;
	margin: 0% 0.2%;
	border-radius: 3px 10px 10px 3px;
}
/*This the dialog CSS*/

element.style {
	display: block;
	z-index: 1002;
	outline: 0px;
	height: auto;
	width: 500px;
	top: 529px;
	left: 421px;
}

.ui-dialog {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .5em 1em .3em;
	position: relative;
}

.ui-dialog-titlebar {
	color: #0f65ab;
	background: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-left-width: 0;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 0px;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}


.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}

.ui-widget-content {
	border: 1px solid #aaa;
	background: #fff url(/apostrophePlugin/css/ui-apostrophe/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color: #222;
}

.ui-widget-header .ui-icon {
	background-image: url(http://bookcheetah.com/assets/images/x.jpg);
}

.fb-like{
	display: none;
}

/*.facebook_signin{
float: right;
}

.twitter_signin{
float: right;
}*/

.login-footer {
	background: #484444;
	height: 80px;
	width: 100%;
	position: inherit;
	bottom: 0px;
	left: 0px;
}