<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content=" " />
    <meta name="keywords" content=" " />

    <title></title>

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="shortcut icon" type="image/x-icon" href="" />

    <!-- Style sheets -->
    <link rel="stylesheet" href="./css/libs/ember-animated-outlet.css" />
    <link rel="stylesheet" href="./css/libs/ratchet.css" /><!-- Ratchet App CSS -->
    <link rel="stylesheet" href="./css/libs/dropzone.css" />
    <link rel="stylesheet" href="./css/general.css" /><!-- come after to over-write Ratchet -->
    <link rel="stylesheet" href="./js/libs/todc-select/select2.css" />
    <!-- <link rel="stylesheet" href="./css/normalize.css"> -->
    <script src="./js/libs/modernizr-2.6.2.min.js"></script>

     <!-- App UI/UX flow helpers -->
    <style>
     @import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
    </style>



</head>

<body>

<div class="notificationbar">
    <p>Please ensure that you have all the field with the correct information!</p>
</div>

<script type="text/x-handlebars">
    <div class="app-content">
        <table class="nav">
            <tr>
                <td class="nav-side-bar">
                    <div class="nav-bar">
                        <ul>
                            <li {{action introduction}}>Home</li>
                            <li {{action aboutus}}>About Us</li>
                            <li {{action ourservices}}>Our Services</li>
                            <li class="blue-bg white small-padding" {{action myorder}}>Order Now</li>
                            <li {{action faq}}>FAQS</li>
                            <li {{action contactus}}>Contact Us</li>
                        </ul>
                    </div>
                    <div class="auth">
                        <br />
                            <h5>Welcome Back. <span style="color: dodgerblue">Sign In.</span></h5>
                            <form class="content-padded" action="login" method="POST">
                                <div class="input-group">
                                    <input type="email"
                                           data-bind="value: emailaddress"
                                           placeholder="Email Address">
                                    <input type="password"
                                           data-bind="value: password" 
                                           placeholder="Password">
                                </div>
                                <a class="button-block button-main">Log In</a>
                            </form>
                            Or <span style="color: dodgerblue" {{action signup}}>sign up?</span>

                        <br />
                    </div>
                </td>
                <td class="template-engine">
                    {{animatedOutlet name="main"}}
                </td>
            </tr>
        </table>
    </div>
</script>
<script type="text/x-handlebars" data-template-name="sign-in">
     <h5>Welcome Back. <span style="color: dodgerblue">Sign In.</span></h5>
        <form class="content-padded">
            <div class="input-group">
                <input type="email"
                       data-bind="value: emailaddress"
                       placeholder="Email Address">
                <input type="password"
                       data-bind="value: password" 
                       placeholder="Password">
            </div>
            <a class="button-block button-main">Log In</a>
        </form>
        Or <span style="color: dodgerblue">{{#link-to "sign-up"}}sign up?{{/link-to}}</span>
</script>

<script type="text/x-handlebars" data-template-name="faq">
    <div class="app-content">
      <h5>FAQ </h5>
           {{#each model}}
                {{topic}}
           {{/each}}
    </div>
</script>


<script type="text/x-handlebars" data-template-name="sign-up">
    <div class="contact-us">
        <h1 class="white small-padding align-center">Sign up page:</h1>
        <div class="contact-form" id="signup-form">

            <form class="content-padded" action="users" method="post">
                <div class="input-group">
                    <input type="email" data-bind="value: emailaddress" placeholder="Email Address">
                    <input type="password" data-bind="value: password" placeholder="Password">
                    <input type="password" placeholder="Repeat password">
                    <!-- <input type="password" data-bind="value: passwordconfirm" placeholder="Repeat password"> -->
                </div>
                
                <a class="button-block button-positive">Sign Up</a>
            </form>
        </div>
            
    </div>
</script>

<script type="text/x-handlebars" data-template-name="services">
    <div class="services">  
        {{#each model}}
            <div class="span6">

                <h3>{{title}}</h3>
                <ul>
                    {{#each sub}}
                      <li {{action "popst" this}}>{{ st }}</li>
                    {{/each}}
                </ul>

            </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="popup">
  <div class="popup">
    <button class="popup-dismiss">x</button>
    <div class="popup-content">
        {{#view App.PopupView}}
          <p> Thank you for signing up! </p>
        {{/view}}
        hahahahh
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="modal">
    
    <div class="modal-overlay"></div>
    <div class="modal soft">
    <span class="header">
        <button class="popup-dismiss" {{action "closeModal" target="view"}}>x</button>
        <h3>{{categorydata.st}}</h3>
    </span>
        {{categorydata.desc}}
      <button class="btn space-big soft" {{action "closeModal" target="view"}}>Back</button>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="introduction">
    <div class="intro">
        <div class="intro-content">
            <h2> Hi, We are the academic writing Gurus!</h2>
            <p>and we are happy to do any kind of writing for you</p>

            <br />
            {{#linkTo "my-order"}}
            <h3 class="blue-bg white small-padding">Make an order now!</h3>
            {{/linkTo}}
        </div>
        <img src="images/PIC-001.jpg">

    </div>
</script>

<script type="text/x-handlebars" data-template-name="about-us">
        <div class="introduction">
            <div class="padding">

                <h2>Who we are</h2>

                <p>We are a company specializing in providing excellent writing services to students 
                and professionals across the globe. Need an excellent writing service? Then you are 
                home. We have qualified and experienced team of writers who just can’t wait to get 
                a hand on your project. They are not only enthusiastic about custom writing but 
                have the desire to give others knowledge and wisdom contained in the custom writing 
                services.</p>

                <h2>Why we are the best</h2>

                <p>Because we care about you being the best in your school. 
                Because of our integrity, because of our character, assuring you of receiving 
                non-plagiarized work in time, no delays, not a single second. And lastly because we 
                are reasonable in our prices. 
                </br></br>
                Do you have a writing project? Make an order now.</p>

            </div>
        </div>
</script>

<script type="text/x-handlebars" data-template-name="my-order">
<div class="myorder">
    <h1>Order Form</h1>
    <form id="order_form">
    <h4>Title or Topic</h4>
    <div class="options">
    </div>
    <input data-type="input" id="ordertitle" type="text" placeholder="eg. Knight in Glaring Darkness">

        <table>
        <tr>
            <td>
                <div class="options">
                    <h4>Type of Subject: </h4>
                    <select name="subject_area" id="subject" title="Subject area" 
                    onchange="javascript:doOrderFormCalculation();">
                        {{#each subject_area_sel}}
                            <option value={{ this.v }} >{{ this.n }}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="options">
                    <h4>Type of Document</h4>
                    <select name="document_type" id="document" title="type of document" 
                     onchange="javascript:doOrderFormCalculation();" >
                        {{#each opt in document_type_sel}}
                            <option value="{{ opt.v }}" >{{ opt.n }}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="options">
                    <h4>Academic level</h4>
                    <select name="academic_level" id="academiclvl" title="Academic Level" 
                    onchange="javascript:doOrderFormCalculation();">
                        {{#each opt in academic_level_sel}}
                            <option value="{{ opt.v }}" >{{ opt.n }}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="options">
                    <h4>How soon do you want it?</h4>
                    <select name="urgency" id="urgency" title="Paper Urgency"
                    onchange="javascript:doOrderFormCalculation();">
                        {{#each opt in urgency_sel}}
                            <option value="{{ opt.v }}" >{{ opt.n }}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="options">
                    <h4>Writting Style: </h4>
                    <select name="writing_style" id="writtingstyle" title="Writting Style">
                        {{#each opt in writing_style_sel}}
                            <option value="{{ opt.v }}" >{{ opt.n }}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="options">
                    <h4>Instructions</h4>
                    <textarea id="instructions" rows="5" data-type="textarea"  rows="5"></textarea>
                </div>
            </td>
            <td>
                <div class="options">
                    <h4>Prefered language: </h4>
                    <select name="langstyle" id="langstyle">
                        {{#each opt in langstyle_sel}}
                            <option value="{{ opt.v }}" >{{ opt.n }}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="options">
                    <h4>Total pages required or words:</h4>
                    <select name="numpages" id="pgwdnumber" title="Number of pages" style="width: 170px;" class="big" 
                    onchange="javascript:doOrderFormCalculation();">
                        {{#each opt in numpages_sel}}
                            <option value="{{ opt.v }}" >{{ opt.n }}</option>
                        {{/each}}
                    </select>
                    <div id="num_pg_ord" class="num_pg"></div>
                </div>

                <div class="_spacing">
                    <input type="checkbox" name="o_interval" value="1" onchange="javascript:doOrderFormCalculation();"/>
                    &nbsp;<b>Single spaced</b>
                </div>

                <div class="options">
                    <h4>Choise of currency</h4>
                    <select name="curr" style="width: 100px;" 
                    onchange="javascript:doOrderFormCalculation();">
                        {{#each curr_sel}}
                            <option value="{{ v }}" >{{ n }}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="options">
                    <label for="cost_per_page">Cost per page:</label>                       
                    <span id="cost_per_page" class="order_input3"></span>

                    <div class="totalcost">
                        <h1><span id="key">Total: </span>
                        <span id="tcost">10.10</span></h1>
                    </div>
                    <br />
                    <hr />
                    <a id="submitAttach" class="button-block button-positive">Upload Attachments &amp; Submit</a>
                </div>
            </td>
        </tr>
        </table>

        <input type="hidden" name="discount_percent_h" class="discount_percent_h" value="" />
        <input type="hidden" name="discount_h" value="" />                      
        <input type="hidden" name="lblCustomerSavings" value="" /> 

        <!--<label for="promo">Discount code:</label>!-->

        <input type="hidden" class="discount_code" name="discount_code" />
        <input type="hidden" name="0bb6c36d0203642ba42e79df168efa3a" value="MGJiNmMzNmQwMjAzNjQyYmE0MmU3OWRmMTY4ZWZhM2E=" />
        <input type="hidden" name="29cece43ba2d4bcaea8c78eb02aea395" value="MjljZWNlNDNiYTJkNGJjYWVhOGM3OGViMDJhZWEzOTU=" />
        <input type="hidden" name="ee52948c809e658a2e2bfd66f90aef6b" value="ZWU1Mjk0OGM4MDllNjU4YTJlMmJmZDY2ZjkwYWVmNmI=" />
        <input type="hidden" name="MTIuOTUYGREXGHNMKJGT23467GGFDSSSbbbbbIOK" value="" />
        <input type="hidden" name="MMNBGFREWQASCXZSOPJHGVNMTIuOTU" class="MMNBGFREWQASCXZSOPJHGVNMTIuOTU" value="" />
        <input type="hidden"  id="total" name="total" />
    </form>

        <div class="uploadAttachment">
            <div class="dropithere">
                <h3>Attach any required files</h3>
                <form action="./xfiles" enctype="multipart/form-data" class="dropzone dz-clickable" id="my-dropzone">
                    <div class="dz-default dz-message">
                        <span>Click here or drag and drop files here to upload</span>
                    </div>
                </form>
                <br />
                <a id="submitOrder"
                   data-processing="Uploading files..."
                   data-complete="Order submitted successfully."
                   class="button-block button-main">Submit Order</a>
            </div>
        </div>

        <div class="overlay"></div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="contact-us">
    <div class="contact-us">
        <h1 class="white small-padding align-center">Write to us:</h1>
        <div class="contact-form">
            <form>
                <input type="text" placeholder="Full names">
                <input type="text" placeholder="Email address">
                <textarea rows="6" placeholder="So tell us something interesting..."></textarea>
                <a class="button-block button-main">Send Message</a>
            </form>
        </div>
    </div>
</script>

 <script type="text/x-handlebars" data-template-name="contacts">
    <div class="contacts">
        <h1 class="white small-padding align-center">Write to us:</h1>
        <div class="contact-form">
            <form>
                <input type="text" placeholder="Full names">
                <input type="text" placeholder="Email address">
                <textarea rows="6" placeholder="So tell us something interesting..."></textarea>
                <a class="button-block button-main">Send Message</a>
            </form>
        </div>
    </div>
</script>

    <!-- basic necessities -->
    <script type="text/javascript" src="./js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="./js/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="./js/libs/ratchet.min.js"></script>

    <!-- Its an Ember Application -->
    <script type="text/javascript" src="./js/libs/handlebars.min.js"></script>
    <script type="text/javascript" src="./js/libs/ember.prod.js"></script>
    <script type="text/javascript" src="./js/libs/ember-data.prod.js"></script>
    <script type="text/javascript" src="./js/libs/ember-animated-outlet.js"></script>

    <!-- dependencies -->
    <!-- // <script type="text/javascript" src="./js/libs/knockout-2.2.1.js"></script> -->
    <!-- // <script type="text/javascript" src="./js/libs/ko-rules.js"></script> -->
    <!-- // <script type="text/javascript" src="./js/libs/knockout.validation.js"></script> -->

    <script type="text/javascript" src="./js/libs/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="./js/libs/todc-select/select2.min.js"></script>

    <!-- Takes care of file uploads -->
    <script type="text/javascript" src="./js/libs/dropzone.min.js"></script>

    <!-- Apps initialisation requirements -->
    <script type="text/javascript" src="./js/application.js"></script>
    <script type="text/javascript" src="./js/models.js"></script>
    <script type="text/javascript" src="./js/elements.js"></script>
    <script type="text/javascript" src="./js/controllers.js"></script>
    <script type="text/javascript" src="./js/writting_charges.js"></script>

        <script type="text/javascript">
        //make this global
        Dropzone.autoDiscover = false; //disable autodiscovery of formfield for uploading files
        $(function() {
            //Instantiate KO order input bindings
            // ko.applyBindings(sideBarModel, document.querySelector('.auth'));

            $('.nav').css('height', window.innerHeight);
            // $('.services div').css('width', function() {
            //     // $(this).height(window.innerHeight/3)
            //     var width = $('.template-engine').width()/($(this).parent().children().length);
            //     // $(this).parent().masonry({columnWidth: width, itemSelector: '.span6'})
            //     return width;
            // });

            //Mozilla and other height correction for myorder page
            $('.myorder').height(window.innerHeight);
        })

    </script>
</body>
</html>
